<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <%- include('./fragments/metadata.ejs') %> 
    
    <link rel="stylesheet" href="./css/index.css">

    <!-- font awsome - end -->
    <script src="./scripts/script.js" defer></script>
    <title> Tylerfxbtc Investment | Welcome</title>
</head>
<body>
   <nav>
    <div id="icon-container">
        <div><img src="./images/logo.png" alt="Tyler fxbtc Investment Logo"></div>
        <div><span>Tylerfxbtc Investment</span></div>
    </div>
    
    <div id="nav-option">
        
        <div id="options-1">
            <li><a href="/">Home</a></li>
            <li><a href="/">About us</a></li>
            <li><a href="/">Packages</a></li>
            <li><a href="/">FAQs</a></li>
            <li><a href="/">contacts</a></li>
        </div>
        <div id="account-options">
            <button id="login"><a href="/login" id="login-dashboard"><i class="fa-solid fa-user" ></i> <span id="l-d-m">Login</span></a></button>
            <button id="sign-up"><a href="/signup" id="signup-signout"><i class="fa-solid fa-right-to-bracket"></i> <span id="s-p-m">Sign Up</span></a></button>
        </div>
    </div>
    <div id="close-options"  class="mb">
        <div class="mb-icon"><i class="fa-solid fa-xmark"></i></div>
        <div class="mb-icon hidden"><i class="fa-solid fa-bars"></i></div>
    </div>
   </nav>
   <header>
        <h1>
            Join The Global Leader Of Financial Investments
        </h1>
        <p>
            Tyler FxBTC is a group of financial and cryptocurrency experts that invest in mining and cryptocurrency trading. We carefully examine the volatility of bitcoin and other crypto currencies, invest and make good profit from our investments.
        </p>
        <button class="get-started-btn" >Get started <i class="fa-solid fa-circle-arrow-right"></i></button>
   </header>
   <section id="__tradingview-graphs__">
    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/" rel="noopener" target="_blank"><span class="blue-text">Markets</span></a> by TradingView</div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
        {
        "symbols": [
        {
            "proName": "FOREXCOM:SPXUSD",
            "title": "S&P 500"
        },
        {
            "proName": "FOREXCOM:NSXUSD",
            "title": "US 100"
        },
        {
            "proName": "FX_IDC:EURUSD",
            "title": "EUR/USD"
        },
        {
            "proName": "BITSTAMP:BTCUSD",
            "title": "Bitcoin"
        },
        {
            "proName": "BITSTAMP:ETHUSD",
            "title": "Ethereum"
        },
        {
            "description": "BNB",
            "proName": "CRYPTOCAP:BNB"
        },
        {
            "description": "Litecoin",
            "proName": "BITSTAMP:LTCUSD"
        }
        ],
        "showSymbolLogo": true,
        "colorTheme": "light",
        "isTransparent": false,
        "displayMode": "adaptive",
        "locale": "en"
    }
        </script>
    </div>
    
   </section>
   <section id="main">
        <article class="rl" id="about_us">
            <div class="rlr">
                <img src="./images/graph-n-laptop.png" alt="Laptop displaying a graph">
            </div>
            <div class="rll">
                <h1>Who We Are</h1>
                <div>
                    <p>
                        Tyler fxbtc Investment is a successful online trading and investment platform for brokers interested in Foreign Exchange, Stock Market Trading, and Cryptocurrency Trading. We give our users the potential to generate financial returns on both rising and falling prices across indices, FX, commodities, shares and cryptocurrencies.
                    </p>
                    <p>
                        We strive to help our clients make the most out of online trading by assisting them to access liquidity and manage risk effectively. Our comprehensive technology, state-of-the-art security encryption, and unparalleled network allow us to deliver an unforgettable trading experience.
                    </p>
                </div>
                <h3>About Us &nbsp;<i class="fa-solid fa-arrow-right"></i></h3>
            </div>
        </article>
    </section>
    <section id="m-1">
        <article id="how_we_work" class="rl">
            <div class="rlr">
                <h1>
                    Save Time. Get Higher Return. Multiply Wealth.
                </h1>
                <p>
                    Investing can be intimidating, especially for beginners. Sometimes managing an investment is daunting due to the uncertainty and volatility of the market, as well as the time investment needed to be successful.
                </p>
                <div class="services-cards">
                    <div class="service-card">
                        <div class="service-card-icon">
                            <i class="fa-solid fa-lock"></i>
                        </div>
                        <h4>
                            Secure Service
                        </h4>
                    </div>
                    <div class="service-card">
                        <div class="service-card-icon">
                            <i class="fa-solid fa-money-bills"></i>
                        </div>
                        <h4>
                            Multi Currency Support
                        </h4>
                    </div>
                    <div class="service-card">
                        <div class="service-card-icon">
                            <div class="icons-3-merge">
                                <i class="fa-solid fa-money-bill-transfer"></i>
                            </div>
                        </div>
                        <h4>
                            Currency Exchange
                        </h4>
                    </div>
                </div>
            </div>
            <div class="rll">
                <img src="./images/crypto-n-graphs.png" alt="">
            </div>
        </article>
    </section>
    <section>
        <article id="why_us">
            <div class="w-u-heading">
                <h1>Why Choose Us?</h1>
                <p>We are committed to helping our users attain their goals, simplifying the complexities of investing with instinctual tools that make you efficient for decision making.</p>
            </div>
            <div class="wu-content">
                <div class="wu_card">
                    <div class="wu_card_left">
                        <i class="fa-solid fa-lock"></i>
                    </div>
                    <div class="wu_card_right">
                        <h2>Bank Grade Security</h2>
                        <p>
                            Tyler fxbtc Investment team has extensive industry experience in system security within financial services and in-depth knowledge in blockchain. Tyler fxbtc Investment multi-layered state-of-the-art security measures to ensure the safety and security of its system.
                        </p>
                    </div>
                </div>
                <div class="wu_card">
                    <div class="wu_card_left">
                        <i class="fa-solid fa-chart-column"></i>
                    </div>
                    <div class="wu_card_right">
                        <h2>Risk Management</h2>
                        <p>
                            Trading on any market involves many opportunities with the capacity to make large profits quickly, but traders soon realise that a single loss can wipe out the portfolio. We execute a well-designed risk management strategy that lets you remain profitable overtime.
                        </p>
                    </div>
                </div>
                <div class="wu_card">
                    <div class="wu_card_left">
                        <i class="fa-solid fa-award"></i>
                    </div>
                    <div class="wu_card_right">
                        <h2>An Award-Winning Platform</h2>
                        <p>
                            We use the latest industry-standard tools and technologies to bring the world of online trading and investment to your fingertips.
                        </p>
                    </div>
                </div>
                <div class="wu_card">
                    <div class="wu_card_left">
                        <i class="fa-solid fa-computer"></i>
                    </div>
                    <div class="wu_card_right">
                        <h2>Automatic Software</h2>
                        <p>
                            We provide a highly-skilled and dedicated guide, featuring around-the-clock live support and delivering world-class solutions to clients.
                        </p>
                    </div>
                </div>
            </div>
        </article>
        <article id="get-started">
            <h1>Get Started In 3 Easy Steps</h1>
            <div class="gs-steps-container">
                <div class="gets-started-step">
                    <div>
                        <div class="round-icon-container"><i class="fa-regular fa-user"></i></div>
                        <div class="gss">Step 1</div>
                    </div>
                    <p>Create new Account</p>
                </div>
                <div class="gets-started-step">
                    <div>
                        <div class="round-icon-container"><i class="fa-solid fa-circle-dollar-to-slot"></i></div>
                        <div class="gss">Step 2</div>
                    </div>
                    <p>Fund your account</p>
                </div>
                <div class="gets-started-step">
                    <div>
                        <div class="round-icon-container"><i class="fa-solid fa-wallet"></i></div>
                        <div class="gss">Step 3</div>
                    </div>
                    <p>Withdraw profits</p>
                </div>
            </div>
            <div class="g-s-btn">
                <button class="get-started-btn" >Get started <i class="fa-solid fa-circle-arrow-right"></i></button>
            </div>
        </article>
    </section>
    <section id="avb-c">
        <div id="availability" class="rl">
            <div class="availability-left">
                <img src="./images/graph-n-laptop.png" alt="">
            </div>
            <div class="availability-right">
                <p>AVAILABLE ON MULTIPLE PLATFORMS</p>
                <h3><p>World-Class Investment Platform Without A Doubt</p></h3>
                <div class="available-platforms">
                    <div class="available-platform">
                        <div><i class="fa-brands fa-apple"></i></div>
                        <div>MacOS &amp; iOS</div>
                    </div>
                    <div class="available-platform">
                        <div><i class="fa-brands fa-windows"></i></div>
                        <div>Windows</div>
                    </div>
                    <div class="available-platform">
                        <div><i class="fa-brands fa-google-play"></i></div>
                        <div>Android</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <!-- TradingView Widget END -->
    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container">
        <div id="tradingview_4ecf6"></div>
        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/BTCUSD/?exchange=BINANCE" rel="noopener" target="_blank"><span class="blue-text">BTCUSD Chart</span></a> by TradingView</div>
        <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
        <script type="text/javascript">
        new TradingView.widget(
        {
        "width": "100%",
        "height": 610,
        "symbol": "BINANCE:BTCUSD",
        "interval": "1",
        "timezone": "Etc/UTC",
        "theme": "light",
        "style": "1",
        "locale": "en",
        "toolbar_bg": "#f1f3f6",
        "enable_publishing": false,
        "hide_legend": true,
        "withdateranges": true,
        "allow_symbol_change": true,
        "details": true,
        "container_id": "tradingview_4ecf6"
    }
        );
        </script>
    </div>
    <!-- TradingView Widget END -->
    </section>
    <section>
        <article id="plans">
            <h1>Investment Plans</h1>
            <p>Tyler fxbtc Investments has continued to provide groundbreaking investment solutions for over a decade.</p>
            <div class="plans-container">
                <div class="plan">
                    <div class="plan-title">Beginner Plan</div>
                    <div class="plan-price-range">$100 - $4,999</div>
                    <button class="get-started-btn" >Get started <i class="fa-solid fa-circle-arrow-right"></i></button>
                    <div class="plan-more-info">
                        <li>Hourly profit: <span class="bold">2%</span></li>
                        <li>Minimum Possible Deposit:: <span class="bold">$100</span></li>
                        <li>Maximum Possible Deposit:  <span class="bold">$4,999</span></li>
                        <li>Duration: <span class="bold">48 Hours</span></li>
                    </div>
                </div>
                <div class="plan">
                    <div class="plan-title">Premium Plan</div>
                    <div class="plan-price-range">$5,000 - $9,999</div>
                    <button class="get-started-btn" >Get started <i class="fa-solid fa-circle-arrow-right"></i></button>
                    <div class="plan-more-info">
                        <li>Hourly profit: <span class="bold">5%</span></li>
                        <li>Minimum Possible Deposit:: <span class="bold">$5,000</span></li>
                        <li>Maximum Possible Deposit:  <span class="bold">$9,999</span></li>
                        <li>Duration: <span class="bold">1 Week</span></li> 
                    </div>
                </div>
                <div class="plan">
                    <div class="plan-title">Business Plan</div>
                    <div class="plan-price-range">$10,000 - $19,999</div>
                    <button class="get-started-btn" >Get started <i class="fa-solid fa-circle-arrow-right"></i></button>
                    <div class="plan-more-info">
                        <li>Hourly profit: <span class="bold">20%</span></li>
                        <li>Minimum Possible Deposit:: <span class="bold">$10,000</span></li>
                        <li>Maximum Possible Deposit:  <span class="bold">$19,999</span></li>
                        <li>Duration: <span class="bold">2 Weeks</span></li>
                    </div>
                </div>
                <div class="plan">
                    <div class="plan-title">Professional Plan</div>
                    <div class="plan-price-range">$20,000 - $99,999</div>
                    <button class="get-started-btn" >Get started <i class="fa-solid fa-circle-arrow-right"></i></button>
                    <div class="plan-more-info">
                        <li>Hourly profit: <span class="bold">35%</span></li>
                        <li>Minimum Possible Deposit:: <span class="bold">$20,000</span></li>
                        <li>Maximum Possible Deposit:  <span class="bold">$100,000</span></li>
                        <li>Duration: <span class="bold">4 Weeks</span></li>
                    </div>
                </div>
                
            </div>
        </article>
        <!-- Crypto Converter ⚡ Widget -- <crypto-converter-widget shadow symbol live background-color="#383a59" border-radius="0.60rem" fiat="united-states-dollar" crypto="bitcoin" amount="1" decimal-places="2"></crypto-converter-widget><a href="https://currencyrate.today/" target="_blank" rel="noopener">CurrencyRate.Today</a><script async src="https://cdn.jsdelivr.net/gh/dejurin/crypto-converter-widget@1.5.2/dist/latest.min.js"></script><!-- /Crypto Converter ⚡ Widget -->
    </section>
    <section id ="cr-us">        
        <div id="current-users">
            <div class="cur-users-numbers">
                <div>
                    <i class="fa-solid fa-chart-column"></i>
                </div>
                <h1 id="trades-animated-count">60,000+</h1>
                <p>Profitable Trades</p>
            </div>
            <div class="cur-users-numbers c-u-n-2">
                <div><i class="fa-solid fa-money-bill-transfer"></i></div>
                <h1 id="withdraw-animated-count">1,000,000+</h1>
                <p>Wuccessful withdraws</p>
            </div>
            <div class="cur-users-numbers">
                <div><i class="fa-regular fa-user"></i></div>
                <h1 id="users-animated-count">13,000+</h1>
                <p>Users</p>
            </div>
        </div>
    </section>
    <section>
        <article id="trustees">
            <h1>We Are Trusted</h1>
            <div id="trustees-companies">
                <div class="trust-company fa-float-in">
                    <div><img src="./images/icorating-icon.png" alt="icorating icon"></div>
                    <div>
                        <div class="rating">8.9</div>
                    </div>
                </div>
                <div class="trust-company">
                    <div><img src="./images/coin-clarity-icon.png" alt="coin clarity icon"></div>
                    <div>
                        <div class="rating">9.0</div>
                    </div>
                </div>
                <div class="trust-company">
                    <div><img src="./images/ico-watchlist.png" alt="ico watch list"></div>
                    <div>
                        <div class="rating">7.6</div>
                    </div>
                </div>
                <div class="trust-company">
                    <div><img src="./images/coinmarkertalert-icon.png" alt="coin market alert"></div>
                    <div>
                        <div class="rating">9.0</div>
                    </div>
                </div>
                <div class="trust-company">
                    <div><img src="./images/ico-alert-icon.png" alt="ico alert"></div>
                    <div>
                        <div class="rating">7.4</div>
                    </div>
                </div>
                <div class="trust-company">
                    <div><img src="./images/token-market-icon.png" alt="token market"></div>
                    <div>
                        <div class="rating">8.7</div>
                    </div>
                </div>
            </div>
            <div id="testimonials">
                <div class="testimonial">
                    <div class="head"><i class="fa-solid fa-user"></i><i class="fa-solid fa-quote-right"></i></div>
                    <div class="body">
                        <div class="t-name"></div>
                        <div class="testim-name">ALEX GLYSON</div>
                        <div class="stars-5"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                        <p>Am an engineer in Washington DC when an account manager KLOE AURORA brought this opportunity to me I just said casually to invest with $500 but my story today is on a premium plan.
                        </p>
                    </div>
                </div>
                <div class="testimonial">
                    <div class="head"><i class="fa-solid fa-user"></i><i class="fa-solid fa-quote-right"></i></div>
                    <div class="body">
                        <div class="t-name"></div>
                        <div class="testim-name">SCOTT SMITH</div>
                        <div class="stars-5"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                        <p>I have only been a member for a few months and i have already earned a decent amount of money. Finally a real and honest company that does what it says. Thank you so much for this great opportunity!</p>
                    </div>
                </div>
                <div class="testimonial">
                    <div class="head"><i class="fa-solid fa-user"></i><i class="fa-solid fa-quote-right"></i></div>
                    <div class="body">
                        <div class="t-name"></div>
                        <div class="testim-name">RUKKY SANDERS</div>
                        <div class="stars-5"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div>
                        <p>Tyler fxbtc Investment runs a quick and reliable system. It feels great to know that I Can always trust their support system to come through for me. Their response speed is prompt and the delivery precise to the last detail.</p>
                    </div>
                </div>
            </div>
        </article>
        <article id="coin-logos">
            <img src="./images/Bitcoin-Emblem-1.png" alt=""><img src="./images/ethereum-icon.png" alt=""><img src="./images/litecoin-icon.png" alt=""><img src="./images/bnb-icon.png" alt="">
        </article>
        <article id="bottom-post">
            <div>
                <h1 id="counter1">+857</h1>
            </div>
            <div>
                <h3>Thousand Dorlars</h3>
                <p>has been already invested with Tyler fxbtc Investment</p>
            </div>
            <div>
                <button class="get-started-btn">Get Started <i class="fa-solid fa-circle-arrow-right"></i></button>
            </div>
        </article>
   </section>
   <footer>
    <div>
        <div>
            <h1>Subscribe to our newsletter</h1>
            <p>Regular Updates From Tyler fxbtc Investment Via Email.</p>
        </div>
        <div class="r-b-c">
            <div class="round-box">
                <label for="email">
                    <span>Email</span>
                    <input type="email" name="email" id="email">
                </label>
            </div>
            <button>Subscribe</button>
        </div>
    </div>
    <div class="footer-flex">
        <div class="i-1">
            <h1>
                <div class="f-img-container">
                    <img src="./images/icon.png" > 
                </div> 
                <span>Tyler fxbtc Investment</span>
            </h1>
            <p>Founded and managed by leading industry professionals Tyler fxbtc Investment was established with a clear vision: To provide unrivaled trading solutions to investors from all over the world with a stellar client centered culture.</p>
        </div>
        <div class="i-2">
            <h1>
                Navigation
            </h1>
            <div class="f-nav">
                <li> Home</li>
                <li> About</li>
                <li> FAQs</li>
                <li> Contact us</li>
            </div>
        </div>
        <div class="i-3">
            <h1>
                Account
            </h1>
            <div class="f-nav">
                <li> Login</li>
                <li> Sign In</li>
        
            </div>
        </div>
        <div class="i-4">
            <h1>Legal</h1>
            <div class="f-nav"> 
                <li>Privacy policy</li>
                <li>Terms of service</li>
            </div>
        </div>
        <div class="i-5">
            <h1>Contact</h1>
            <p><i class="fa-solid fa-mail"></i> support@Tyler fxbtcinvestment.com</p>
        </div>
    </div>
    <div>
        <small>&copy; Tyler fxbtc Investment <span class="year-value"></span>, all rights reserved</small>
    </div>
   </footer>
   <%- include('./fragments/transactionadd.ejs') %> 
   <script>
    for(let element of document.getElementsByClassName('year-value')){
        element.innerHTML = new Date().getFullYear();
    }
    const user = localStorage.getItem("user");

  
    if(user){
        let ld=document.getElementById("login-dashboard"),
        ss=document.getElementById("signup-signout");
        document.getElementById("l-d-m").innerText="Dashboard";
        document.getElementById("s-p-m").innerText="Sign Out";
        ss.setAttribute("href", "#");
        ld.setAttribute("href", "/dashboard");
        ss.onclick=logOut;

        document.querySelectorAll(".get-started-btn").forEach(d=>{
        d.onclick=function(){
            location.href="/dashboard";
        }
    })
    }
    function logOut(){
        localStorage.clear();
        location.reload();
    }

    document.querySelectorAll(".get-started-btn").forEach(d=>{
        d.onclick=function(){
            location.href="/login";
        }
    })

    function displayNumbers(min,max, element, prefix, suffix, step){
        
        let i = setInterval(()=>{
            if(min >= max){
             
                clearInterval(i);
            }
            element.innerText =new String().concat(prefix, parseInt(min), suffix )
            min+=step
            
        }, 5)
    }

    const counter1=document.getElementById("counter1");
    const counter2=document.getElementById("trades-animated-count");
    const counter3=document.getElementById("withdraw-animated-count");
    const counter4=document.getElementById("users-animated-count");
    function onVisible(element, callback) {
  new IntersectionObserver((entries, observer) => {
    entries.forEach(entry => {
      if(entry.intersectionRatio > 0) {
        callback(element);
        observer.disconnect();
      }
    });
  }).observe(element);
}
class Watcher{
    
    constructor(element, min, max, step, prefix, suffix){
        this.element = element;
        this.min = min;
        this.max =  max;
        this.step = step;
        this.prefix= prefix;
        this.suffix = suffix;
        onVisible(this.element, ()=>{
            displayNumbers(this.min, this.max, this.element, this.prefix, this.suffix, this.step)
        })
    }
    
};

let watchers = [
    new Watcher(counter1, 101, 943, 1.648, "+", ''),
    new Watcher(counter2, 1000, 60000, 118, '', '+'),
    new Watcher(counter3, 500, 1000000, 1999, '', '+'),
    new Watcher(counter4, 100, 13000, 25.8, '', '+')
];
   </script>
</body>
</html>