<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tyler fxbtc | Sign Up</title>
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./css/fa.imports.css">
</head>
<body>
    <div id="anime-icon">
    </div>
    <nav>
        <div><img src="./images/icon.png" alt="company logo"></div>
    </nav>
    <section id="content">
        <h1>Create a <span class="stroked-text small-text">Tyler fxbtc</span> account</h1>
        <p class="invite-link">Invite link : <span id="invite_link"> 00 </span></p>
        <form action="/signup" method="post" autocomplete="false" >
            <label for="name">
                <div><i class="fa-solid fa-user"></i></div>
                <div><input type="text" name="name" id="name" placeholder="Your Name" required autocomplete="off"></div>
            </label>
            <label for="email">
                <div><i class="fa-solid fa-envelope azure"></i></div>
                <div><input type="email" name="email" id="email" placeholder="Email adress" required autocomplete="off"></div>
            </label>
            <label for="phone">
                <div><i class="fa-solid fa-phone azure"></i></div>
                <div><input type="tel" name="phone" id="phone" placeholder="Phone Number" required autocomplete="off"></div>
            </label>
            <label for="country">
                <div><i class="fa-solid fa-earth-americas"></i></div>
                <div>
                    <select id="country" name="country" >
                        <option value="Afghanistan">Afghanistan</option>
                        <option value="Åland Islands">Åland Islands</option>
                        <option value="Albania">Albania</option>
                        <option value="Algeria">Algeria</option>
                        <option value="American Samoa">American Samoa</option>
                        <option value="Andorra">Andorra</option>
                        <option value="Angola">Angola</option>
                        <option value="Anguilla">Anguilla</option>
                        <option value="Antarctica">Antarctica</option>
                        <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                        <option value="Argentina">Argentina</option>
                        <option value="Armenia">Armenia</option>
                        <option value="Aruba">Aruba</option>
                        <option value="Australia">Australia</option>
                        <option value="Austria">Austria</option>
                        <option value="Azerbaijan">Azerbaijan</option>
                        <option value="Bahamas">Bahamas</option>
                        <option value="Bahrain">Bahrain</option>
                        <option value="Bangladesh">Bangladesh</option>
                        <option value="Barbados">Barbados</option>
                        <option value="Belarus">Belarus</option>
                        <option value="Belgium">Belgium</option>
                        <option value="Belize">Belize</option>
                        <option value="Benin">Benin</option>
                        <option value="Bermuda">Bermuda</option>
                        <option value="Bhutan">Bhutan</option>
                        <option value="Bolivia">Bolivia</option>
                        <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                        <option value="Botswana">Botswana</option>
                        <option value="Bouvet Island">Bouvet Island</option>
                        <option value="Brazil">Brazil</option>
                        <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
                        <option value="Brunei Darussalam">Brunei Darussalam</option>
                        <option value="Bulgaria">Bulgaria</option>
                        <option value="Burkina Faso">Burkina Faso</option>
                        <option value="Burundi">Burundi</option>
                        <option value="Cambodia">Cambodia</option>
                        <option value="Cameroon">Cameroon</option>
                        <option value="Canada">Canada</option>
                        <option value="Cape Verde">Cape Verde</option>
                        <option value="Cayman Islands">Cayman Islands</option>
                        <option value="Central African Republic">Central African Republic</option>
                        <option value="Chad">Chad</option>
                        <option value="Chile">Chile</option>
                        <option value="China">China</option>
                        <option value="Christmas Island">Christmas Island</option>
                        <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
                        <option value="Colombia">Colombia</option>
                        <option value="Comoros">Comoros</option>
                        <option value="Congo">Congo</option>
                        <option value="Congo, The Democratic Republic of The">Congo, The Democratic Republic of The</option>
                        <option value="Cook Islands">Cook Islands</option>
                        <option value="Costa Rica">Costa Rica</option>
                        <option value="Cote D'ivoire">Cote D'ivoire</option>
                        <option value="Croatia">Croatia</option>
                        <option value="Cuba">Cuba</option>
                        <option value="Cyprus">Cyprus</option>
                        <option value="Czech Republic">Czech Republic</option>
                        <option value="Denmark">Denmark</option>
                        <option value="Djibouti">Djibouti</option>
                        <option value="Dominica">Dominica</option>
                        <option value="Dominican Republic">Dominican Republic</option>
                        <option value="Ecuador">Ecuador</option>
                        <option value="Egypt">Egypt</option>
                        <option value="El Salvador">El Salvador</option>
                        <option value="Equatorial Guinea">Equatorial Guinea</option>
                        <option value="Eritrea">Eritrea</option>
                        <option value="Estonia">Estonia</option>
                        <option value="Ethiopia">Ethiopia</option>
                        <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
                        <option value="Faroe Islands">Faroe Islands</option>
                        <option value="Fiji">Fiji</option>
                        <option value="Finland">Finland</option>
                        <option value="France">France</option>
                        <option value="French Guiana">French Guiana</option>
                        <option value="French Polynesia">French Polynesia</option>
                        <option value="French Southern Territories">French Southern Territories</option>
                        <option value="Gabon">Gabon</option>
                        <option value="Gambia">Gambia</option>
                        <option value="Georgia">Georgia</option>
                        <option value="Germany">Germany</option>
                        <option value="Ghana">Ghana</option>
                        <option value="Gibraltar">Gibraltar</option>
                        <option value="Greece">Greece</option>
                        <option value="Greenland">Greenland</option>
                        <option value="Grenada">Grenada</option>
                        <option value="Guadeloupe">Guadeloupe</option>
                        <option value="Guam">Guam</option>
                        <option value="Guatemala">Guatemala</option>
                        <option value="Guernsey">Guernsey</option>
                        <option value="Guinea">Guinea</option>
                        <option value="Guinea-bissau">Guinea-bissau</option>
                        <option value="Guyana">Guyana</option>
                        <option value="Haiti">Haiti</option>
                        <option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
                        <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
                        <option value="Honduras">Honduras</option>
                        <option value="Hong Kong">Hong Kong</option>
                        <option value="Hungary">Hungary</option>
                        <option value="Iceland">Iceland</option>
                        <option value="India">India</option>
                        <option value="Indonesia">Indonesia</option>
                        <option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
                        <option value="Iraq">Iraq</option>
                        <option value="Ireland">Ireland</option>
                        <option value="Isle of Man">Isle of Man</option>
                        <option value="Israel">Israel</option>
                        <option value="Italy">Italy</option>
                        <option value="Jamaica">Jamaica</option>
                        <option value="Japan">Japan</option>
                        <option value="Jersey">Jersey</option>
                        <option value="Jordan">Jordan</option>
                        <option value="Kazakhstan">Kazakhstan</option>
                        <option value="Kenya">Kenya</option>
                        <option value="Kiribati">Kiribati</option>
                        <option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
                        <option value="Korea, Republic of">Korea, Republic of</option>
                        <option value="Kuwait">Kuwait</option>
                        <option value="Kyrgyzstan">Kyrgyzstan</option>
                        <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
                        <option value="Latvia">Latvia</option>
                        <option value="Lebanon">Lebanon</option>
                        <option value="Lesotho">Lesotho</option>
                        <option value="Liberia">Liberia</option>
                        <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
                        <option value="Liechtenstein">Liechtenstein</option>
                        <option value="Lithuania">Lithuania</option>
                        <option value="Luxembourg">Luxembourg</option>
                        <option value="Macao">Macao</option>
                        <option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of</option>
                        <option value="Madagascar">Madagascar</option>
                        <option value="Malawi">Malawi</option>
                        <option value="Malaysia">Malaysia</option>
                        <option value="Maldives">Maldives</option>
                        <option value="Mali">Mali</option>
                        <option value="Malta">Malta</option>
                        <option value="Marshall Islands">Marshall Islands</option>
                        <option value="Martinique">Martinique</option>
                        <option value="Mauritania">Mauritania</option>
                        <option value="Mauritius">Mauritius</option>
                        <option value="Mayotte">Mayotte</option>
                        <option value="Mexico">Mexico</option>
                        <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
                        <option value="Moldova, Republic of">Moldova, Republic of</option>
                        <option value="Monaco">Monaco</option>
                        <option value="Mongolia">Mongolia</option>
                        <option value="Montenegro">Montenegro</option>
                        <option value="Montserrat">Montserrat</option>
                        <option value="Morocco">Morocco</option>
                        <option value="Mozambique">Mozambique</option>
                        <option value="Myanmar">Myanmar</option>
                        <option value="Namibia">Namibia</option>
                        <option value="Nauru">Nauru</option>
                        <option value="Nepal">Nepal</option>
                        <option value="Netherlands">Netherlands</option>
                        <option value="Netherlands Antilles">Netherlands Antilles</option>
                        <option value="New Caledonia">New Caledonia</option>
                        <option value="New Zealand">New Zealand</option>
                        <option value="Nicaragua">Nicaragua</option>
                        <option value="Niger">Niger</option>
                        <option value="Nigeria">Nigeria</option>
                        <option value="Niue">Niue</option>
                        <option value="Norfolk Island">Norfolk Island</option>
                        <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                        <option value="Norway">Norway</option>
                        <option value="Oman">Oman</option>
                        <option value="Pakistan">Pakistan</option>
                        <option value="Palau">Palau</option>
                        <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
                        <option value="Panama">Panama</option>
                        <option value="Papua New Guinea">Papua New Guinea</option>
                        <option value="Paraguay">Paraguay</option>
                        <option value="Peru">Peru</option>
                        <option value="Philippines">Philippines</option>
                        <option value="Pitcairn">Pitcairn</option>
                        <option value="Poland">Poland</option>
                        <option value="Portugal">Portugal</option>
                        <option value="Puerto Rico">Puerto Rico</option>
                        <option value="Qatar">Qatar</option>
                        <option value="Reunion">Reunion</option>
                        <option value="Romania">Romania</option>
                        <option value="Russian Federation">Russian Federation</option>
                        <option value="Rwanda">Rwanda</option>
                        <option value="Saint Helena">Saint Helena</option>
                        <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                        <option value="Saint Lucia">Saint Lucia</option>
                        <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
                        <option value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option>
                        <option value="Samoa">Samoa</option>
                        <option value="San Marino">San Marino</option>
                        <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                        <option value="Saudi Arabia">Saudi Arabia</option>
                        <option value="Senegal">Senegal</option>
                        <option value="Serbia">Serbia</option>
                        <option value="Seychelles">Seychelles</option>
                        <option value="Sierra Leone">Sierra Leone</option>
                        <option value="Singapore">Singapore</option>
                        <option value="Slovakia">Slovakia</option>
                        <option value="Slovenia">Slovenia</option>
                        <option value="Solomon Islands">Solomon Islands</option>
                        <option value="Somalia">Somalia</option>
                        <option value="South Africa">South Africa</option>
                        <option value="South Georgia and The South Sandwich Islands">South Georgia and The South Sandwich Islands</option>
                        <option value="Spain">Spain</option>
                        <option value="Sri Lanka">Sri Lanka</option>
                        <option value="Sudan">Sudan</option>
                        <option value="Suriname">Suriname</option>
                        <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
                        <option value="Swaziland">Swaziland</option>
                        <option value="Sweden">Sweden</option>
                        <option value="Switzerland">Switzerland</option>
                        <option value="Syrian Arab Republic">Syrian Arab Republic</option>
                        <option value="Taiwan">Taiwan</option>
                        <option value="Tajikistan">Tajikistan</option>
                        <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
                        <option value="Thailand">Thailand</option>
                        <option value="Timor-leste">Timor-leste</option>
                        <option value="Togo">Togo</option>
                        <option value="Tokelau">Tokelau</option>
                        <option value="Tonga">Tonga</option>
                        <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                        <option value="Tunisia">Tunisia</option>
                        <option value="Turkey">Turkey</option>
                        <option value="Turkmenistan">Turkmenistan</option>
                        <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
                        <option value="Tuvalu">Tuvalu</option>
                        <option value="Uganda">Uganda</option>
                        <option value="Ukraine">Ukraine</option>
                        <option value="United Arab Emirates">United Arab Emirates</option>
                        <option value="United Kingdom">United Kingdom</option>
                        <option value="United States">United States</option>
                        <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
                        <option value="Uruguay">Uruguay</option>
                        <option value="Uzbekistan">Uzbekistan</option>
                        <option value="Vanuatu">Vanuatu</option>
                        <option value="Venezuela">Venezuela</option>
                        <option value="Viet Nam">Viet Nam</option>
                        <option value="Virgin Islands, British">Virgin Islands, British</option>
                        <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
                        <option value="Wallis and Futuna">Wallis and Futuna</option>
                        <option value="Western Sahara">Western Sahara</option>
                        <option value="Yemen">Yemen</option>
                        <option value="Zambia">Zambia</option>
                        <option value="Zimbabwe">Zimbabwe</option>
                    </select>
                </div>
            </label>
            <label for="dateOfBirth">
                <div><i class="fa-solid fa-calendar-days azure"></i></div>
                <div id="dob"><input type="date" name="dateOfBirth" id="dateOfBirth" required autocomplete="off"></div>
            </label>
            <label for="password">
               <div><i class="fa-solid fa-lock blue"></i></div>
                <div><input type="password" name="password" id="password" placeholder="Password" required autocomplete="off"></div>
            </label>
            <label for="confirm-password">
               <div> <i class="fa-solid fa-lock orange"></i></div>
                <div><input type="password" id="confirm-password" placeholder="Confirm Your Password" required autocomplete="off"></div>
            </label>
            
            <div id="pwd-message"></div>
            <div id="pwd-match"></div>
            <button type="submit" id="submit-btn">Create Account</button>
            <div id="pwd-opts">
               <div><span>Have an account? <a href="/login"> Login here</a></span></div> 
            </div>
        </form>
    </section>
    <div id="message" class="hidden">
        <div id="message-icon">
        </div>
        <div id="message-content">
            Hello there builder
        </div>
        <h1>
            <div id="close-msg-box">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </h1>
    </div>
<script>
  function message(information, background, color, icon){
            document.getElementById("message-icon").innerHTML = icon
            let msgBox = document.getElementById("message");
            let msgDisplay = document.getElementById("message-content");
            msgDisplay.innerText=information;
            msgDisplay.style.color=color;
            msgBox.style.color = color;
            msgBox.style.backgroundColor= background;
            msgBox.classList.remove("hidden");
            setTimeout(()=>{
                msgBox.classList.add("hidden");
            }, 7500);
        }

        function warn(msg){
            message(msg, '#dcc334', "black", '<i class="fa-solid fa-triangle-exclamation"></i>');
        }

        function inform(msg){
            message(msg, 'blue', 'white', '<i class="fa-solid fa-circle-info fa-beat-fade" style="--fa-beat-fade-opacity: 0.67; --fa-beat-fade-scale: 1.075;" ></i>');
        }

        function error(msg){
            message(msg, 'red', 'black', '<i class="fa-solid fa-triangle-exclamation fa-fade"></i>');
        }
</script>
<style>
    .hidden{
        display: none !important;
    }
  #message{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: fit-content;
    padding: 10px;
    display: grid;
    grid-template-columns:1fr 8fr 1fr;
    transition: ease 400ms;
    z-index: 200;
}
#message-content{
    text-align: center;
    max-width: 80vw;
    overflow-y: scroll;
}
#message i{
    color: white;
}
</style>
    <script>
        var inviteLink = new URL(location.href).searchParams.get("invite_link");
        
        if(inviteLink){
            inform("You have been invited through the invite link: '"+ inviteLink+"'")
        }else{
            inviteLink = '0'
        }
        document.getElementById("invite_link").innerText = inviteLink;
        
        
        // validate password
{
    const pwdmsg=document.getElementById("pwd-message"),
    pwdMatch=document.getElementById("pwd-match"),
    pwdInput=document.getElementById("password"),
    pwdConfirm=document.getElementById("confirm-password"),
    submitBtn=document.getElementById("submit-btn");

    const passwordStrength=pwd=>{
        let strongPassword = new RegExp('(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9])(?=.{8,})')
        let mediumPassword = new RegExp('((?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9])(?=.{6,}))|((?=.*[a-z])(?=.*[A-Z])(?=.*[^A-Za-z0-9])(?=.{8,}))')
        if(strongPassword.test(pwd)){
            return {color:"green", message:"Password OK", strength:3}
        }else if(mediumPassword.test(pwd)){
            return {color:"#ffc400", message:"Average password", strength:2};
        }else {
            return {color:"red", message:"weak password", strength:1};
        }
    }

    pwdInput.onkeyup=e=>{
        let {color, message}=passwordStrength(pwdInput.value);
        pwdmsg.style.color=color;
        pwdmsg.innerText=message;
    }

    pwdConfirm.onkeyup=e=>{
        if(pwdConfirm.value == pwdInput.value){
            pwdMatch.style.color="green";
            pwdMatch.innerText="Passwords match perfectly";
            submitBtn.disabled=false;
        }else{
            pwdMatch.style.color="red";
            pwdMatch.innerText="Make sure the passwords match";
            submitBtn.disabled=true;
        }
    }
}
//
function getFormData(){
    const inputIds =[
        'name',
        'email',
        'phone',
        'country',
        'dateOfBirth',
        'password'
    ];
    const data = {
        inviteLink
    };
    inputIds.forEach(d=>{
        data[d]=document.getElementById(d).value;
    })
    data.dateOfBirth = new Date(data.dateOfBirth).toDateString();
    return data;
}

function validateInputs(data){
    for(let d in data){
        if(!data[d]){
            return false
        }
    }
    return true;
}

async function postUserInfo(){
    let data = getFormData();
    if(!validateInputs(data)){
        alert("Fill all fields");
        return;
    }
    let response =  await fetch('/signup', {
        method: 'POST',
        headers:{
            'Accept':'application/json',
            'Content-Type':'application/json'
        },
        body: JSON.stringify(data)
    });

    let userInfo = null;
    if(response.status == 200){
        userInfo = await response.json();
        localStorage.setItem("user", JSON.stringify(userInfo[0]));
        location.href = '/dashboard';
    }else{
        userInfo = await response.json();
       error(userInfo.error)
    }
    return userInfo;

}

const form = document.forms[0];
form.onsubmit = event =>{
    event.preventDefault();
    postUserInfo();
}
    </script>

    <!-- Styles  -->


    <style>
        :root{
    --primary-color: gold;
    --dark-color: goldenrod;
    --bg-color: rgb(0, 0, 92);
}

@font-face {
    font-family: nunito;
    src: url(./css/Nunito-VariableFont_wght.ttf);
}
*{
    font-family: nunito;
    border: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-width: 100vw;
    font-weight: 600;
    
}
body{
    height:fit-content;
    width: fit-content;
    margin: auto;
    background: url(./images/crypto-walpaper-dark.png);
}
::-webkit-scrollbar{
    display: none;
}
.stroked-text{
    font-family: nunito;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--primary-color);
}
.small-text{
    -webkit-text-stroke-width: 1px;
}
nav{
    width: fit-content;
    margin: 5px auto;
    height: fit-content;
    z-index: 10px;
}
img{
    max-width: 7rem;
    position: relative;
}
i{
    font-size: 30px;
    color: rgb(0, 0, 83);
}
.blue{
    color: rgb(0, 0, 83);
}
.orange{
    color: rgb(255, 166, 0);
}
.azure{
    color: rgb(37, 83, 121);
}
nav div{
    font-size: 3rem;
    font-weight: 900;
}
nav div:nth-child(1){
    text-align: right;
}
nav div:nth-child(2){
    text-align: left;
}


h1{
    text-align: center;
    font-family: nunito;
    background-color: transparent;
    backdrop-filter: blur(10px);
}

section{
    margin: 4px auto;
    padding: 6px;
    height: fit-content;
    z-index: 10;
}
#content h1:nth-child(1){
    color: var(--primary-color);
}
form{
    height: fit-content;
    width: fit-content;
    padding: 25px; 
    border-radius: 20px;
    margin: 5px auto;
    box-shadow: 0px 0px 10px 0px var(--dark-color);
    background-color: white;
    z-index: 100;
}
form *{
    z-index: 100;
}
label{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
    height: 50px;
    margin: 5px;
}

input {
    border-bottom: 1px solid var(--dark-color);
    min-width: 200px;
    max-width: 400px;
    width: 300px;
    /* color:var(--primary-color); */
    padding: 2.5px;
    outline: none;
}
.entry-icon{
    height: 30px;
}

#dob:hover{
    content: Date Of Birth;
}

button{
    background-color: var(--primary-color);
    margin: 5px auto;
    padding: 10px;
    border-radius: 5px;
    display: block;
    z-index: 100;
}

button:hover{
    background-color: transparent;
    box-shadow: 0px 0px 10px 0px var(--dark-color);
}

button:disabled:hover{
    box-shadow: none;
    background-color: var(--primary-color);
}
#pwd-opts, .pwd-t{
    margin-top: 20px;
    font-size: 12px;
   
}
#pwd-opts{
    text-align: center;
}
#pwd-opts a{

    font-size: 11px;
}
.pwd-t{
    text-align: right;
}
.pwd-t a{
    margin-bottom: 1rem;

}
.invite-link{
    color: white;
}
#invite_link{
    color: beige;
    text-decoration: underline;
}
    </style>
</body>
</html>