@font-face {
    font-family: nunito;
    src: url(Nunito-VariableFont_wght.ttf);
}
:root{
    --color-1:#101112;
    --color-2:#1f2122;
    --color-3: #54595b;
    --color-4: #c7c7cb;
    --color-5:#8e9294;
    --color-danger: rgb(111, 0, 22);
}
*{
    margin: 0px;
    padding: 0px;
    font-family: nunito;
    box-sizing: border-box;
    color: white;
}
body{
    background-color: var(--color-1);
}
::-webkit-scrollbar{
    width: 10px;
    box-shadow: inset 0px 0px 4px 1px grey;
}
::-webkit-scrollbar-thumb{
    width: 10px;
    border-radius: 5px;
    background: #b3b3b366;
    box-shadow: inset 0px 0px 4px 1px rgb(98, 98, 98);
}
img{
    max-width: 50vw;
}

button{
    background: var(--color-4);
    color: black;
    border: none;
    padding: 5px;
    border-radius: 4px;
}
input, select{
    background: transparent;
    border: 1px solid rgb(142, 160, 255);
    outline: rgb(142, 160, 255);
}
option{
    color: black;
    background-color: rgb(160, 176, 252);
}
.hidden{
    display: none !important;
}

li{
    list-style-type: none;
}
a {
    text-decoration: none;
}
nav{
    position: fixed;
    top: 0px;
    padding: 10px;
    padding-bottom: 0px;
    background: var( --color-2);
    width: 100vw;
    z-index: 10;
    color: white;
}

nav img{
    max-width: 40px;
}

@media screen and (max-width: 768px){
    #mb-cancel-btn{
        position: absolute;
        top: 10px;
        right: 20px;
        z-index: 11;
        font-size: 30px;
    }
    .mb-hidden{
        display: none !important;
    }
}


nav a{
    color: white;
}

nav button{
    background-color: rgb(52, 65, 130);
    padding: 10px;
    border-radius: 5px;
    display: block;
    border: none;
}

nav button, nav li{
    margin: 10px;
}
#profile{
    padding-top: 10vh;
}
#profile button:nth-child(1){
    border: 1px solid white;
    background-color: transparent;
}

#nav-options > li > a > span{
    padding-left: 10px;
}
#nav-options span.dashboard-link{
    padding-left: 0px;
}
header{
    padding-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.dashboard-link i{
    padding-right: 2px;
}
#navigation-container{
    text-align: right;
}
#navigation-container a{
    display: block;
}
#navigation-container a:nth-child(2){
    margin-top: 10px;
}


section{
    padding: 20px 0px;
}
form{
    max-width: 450px;
    margin: 0px auto;
    padding: 10px;
    transition: all ease 5000ms;
}
label{
    display: grid;
    grid-template-columns: 2fr 5fr;
    margin: 10px;
}
label > div {
    font-size: 14px;

}

fieldset{
    border-radius: 4px;
    padding: 5px 10px;
}
input{
    height: 25px;
}
input::file-selector-button {
    font-weight: bold;
    color: dodgerblue;
    background-color: rgb(52, 65, 130);
    border: none;
    height: 100%;
    border-right: 1px solid rgb(142, 160, 255);
}

.center{
    text-align: center;
}

#proof-form button{
    display: block;
    margin: 5px auto;
    text-align: center;
    min-width: 150px;
}

.collapse{
    height: 50px;
    border: 1px solid rgb(142, 160, 255);
    background: linear-gradient(transparent, var(--color-2));
    overflow-y: scroll;
    border-radius: 5px;
}
.collapse::-webkit-scrollbar{
    display: none;
}
#close-proof-form{
    font-size: 25px;
    align-items: center;
}

.send-proof-txt{
    font-size: 18px;
    padding: 0px 30px;
}

.deposit{
    max-width: 350px;
    background-color: var( --color-2);
    padding: 10px;
    margin: 10px auto;
    text-align: center;

}
.deposit img{
    width: 75px;
}

.deposit button{
    width: 150px;
}

.f-icon img{
    width: 40px;
}


footer{
    align-items: start;
    padding: 20px 0px;
    text-align: center;
}
small{
    display: block;
    text-align: center;
    background: var( --color-2);
    padding: 10px 0px;
}

#deposit-box, #coin-address{
    position: fixed;
    top: 250px;
    width: 450px;
    right: calc(50vw - 225px);
    background-color: var( --color-3);
    padding: 20px;
    box-shadow: inset 0px 0px 12px 1px var(--color-5);
}

#x-close-pay-icon{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 35px;
}

#x-close-pay-icon i{
    color: var( --color-danger);
    text-decoration: underline;
}

#deposit-box h1{
    text-align: center;
    padding: 5px 20px;
}

#deposit-box button{
    min-width: 150px;
    padding: 5px 20px;
}
#close-payment{
    background-color: var( --color-danger);
    color: white;
    font-weight: 600;
}

.pay-controls{
    display: grid;
    grid-template-areas: "a b";
    gap: 50px;
}

#pay-input{
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: var( --color-2);
    border: 1px solid var( --color-2);
    align-items: center;
    margin: 15px 1px;
    padding: 0px;
    border-radius: 4px;
}
#pay-input *{
    padding: 0px;
    margin: 0px;
}
#pay-input p{
    font-size: 14px;
    padding-left: 5px;
}

#pay-input label{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#pay-input input{
    text-align: center;
    border: none;
    outline: none;
    background-color:rgb(52, 65, 130);
}


div.p-a-usd{
    padding-left: 5px !important;
    height: fit-content;
}

#close-coin-addr{
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 25px;
}

#coin-addr-container{
    display: grid;
    grid-template-columns: 1fr 30px;
    gap: 5px;
    margin-top: 15px;
}

.pay-amnt-container, .pay-amnt-container *{
    color: gold;
    font-weight: 600;
}

@media screen and (min-width: 768px) and (max-width: 1080px){
    header, section, footer, small{
        width: 90vw;
        margin: 20px auto;
    }
    nav{
        padding: 5px 5vw;
        display: grid;
        grid-template-columns: 1fr 5fr 2fr;
    }
    .mb-hidden{
        display: block;
    }
    #nav-options li a i{
        display: none;
    }
    #nav-options a{
        font-size: .9rem;
    }
    #nav-options{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 5px;
    }
    .mb{
        display: none;
    }
    #profile{
        display: grid;
        padding: 0px;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }
    #profile button{
        padding: 5px;
    }
    #profile span{
        display: none;
    }
    #deposit{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .deposit{
        min-width: 300px;
        gap: 5px;
    }
}

@media screen and (min-width: 1080px){
    header, section, footer, small{
        width: 80vw;
        margin: 20px auto;
    }
    nav{
        padding: 5px 5vw;
        display: grid;
        grid-template-columns: 50px 5fr 2fr;
    }
    .mb-hidden{
        display: block;
    }
    #nav-options li{
        height: fit-content;
        text-align: center;
    }
    #nav-options li a span{
        font-size: .75rem;
    }
    #nav-options li a i{
        font-size: 1rem;
    }
    #nav-options li a span:hover{
        color: white;
    }
    #nav-options li:hover{
        background-color: var( --color-3);
    }
    #nav-options{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 5px;
    }
    .mb{
        display: none;
    }
    #profile{
        display: grid;
        padding: 0px;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }
    #profile button a{
        height: fit-content;
        display: grid;
        grid-template-columns: 30px 1fr;
    }
    #profile button{
        height: fit-content;
    }
    #deposit{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        width: fit-content;
        
    }
    .deposit{
        min-width: 300px;
        gap: 5px;
    }
    #navigation-container > div{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
}